html,
head,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
    margin-top: 0;
}

h3 {
    margin: 2rem 0 0.5rem 0;
}

h4 {
    margin-top: 0.5rem;
}

form {
  margin: 0 auto;
  width: 320px;
}

label {
    display: flex;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
  margin: 0.8rem 0;
  padding: 15px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  background-color: #f9f9f9;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="radio"] {
  width: 8%;
  margin-left: 2rem;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

select {
    width: inherit;
    margin: 0.8rem 0;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    background-color: #f9f9f9;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
  width: 100%;
  margin-top: 20px;
  background-color: #6699ff;
  border: none;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 3em;
  text-transform: uppercase;
  cursor: pointer;
}

table, th, tr, td {
    border: 1px solid #d9d9d9;
}

th, td {
    padding: 5px;
    text-align: left;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.container {
  margin: 5rem auto;
  padding: 40px 0;
  background-color: #ff8754;
}

.box {
    text-align: center;
}

.dashboard {
    max-width: 960px;
    margin: 0 auto;
}

.form-booking {
    margin: 0;
}

.registration,
.login {
    margin-top: 3rem;
}

.search {
    display: flex;
}

.picker {
    display: inline;
}

.error {
    color: #333;
}

.block {
    display: block;
}

.days-selection {
    display: flex;
}

.days {
    flex: 1;
}

#circle {
  width: 48px;
  height: 48px;
  background: red;
  border-radius: 50px;
}

#left {
  margin-left: 0;
}

#greeting {
    font-size: 2.5rem;
}

#date {
    max-width: 25%;
    border-radius: 0;
}

#search-button {
    width: 6%;
    margin: 0.8rem 0;
    border-radius: 0;
}

#search-icon {
    max-width: 60%;
    height: auto;
    vertical-align: middle;
    padding: 8px;
}
