html,
head,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

form {
  margin: 0 auto;
  width: 320px;
}

input {
  margin: 0.8rem 0;
  padding: 15px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  background-color: #f9f9f9;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="radio"] {
  width: 8%;
  margin-left: 2rem;
}

select {
    width: 150px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

button {
  width: 100%;
  margin-top: 20px;
  background-color: #6699ff;
  border: none;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 3em;
  text-transform: uppercase;
  cursor: pointer;
}

.container {
  margin: 10em auto;
  padding: 20px 0;
  background-color: #ff8754;
}

.box {
    text-align: center;
}

.dashboard {
    max-width: 960px;
    margin: 0 auto;
}

.form-booking {
    margin: 0;
}

.registration,
.login {
    margin-top: 3rem;
}

.picker {
    display: inline;
}

.error {
    color: #333;
}

#circle {
  width: 48px;
  height: 48px;
  background: red;
  border-radius: 50px;
}

#left {
  margin-left: 0;
}
